.App {
  text-align: center;
  position: relative;
  top: -120px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Home {
  position: relative;
  z-index: 2;
  left: 10px;
}

.Foodlog {
  position: relative;
  z-index: 2;
  top: 760px;
  left: 400px;
}

.Glucoselog {
  position: relative;
  z-index: 2;
  top: 720px;
  left: 930px;
}


/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: honeydew;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(30px);
  color: black;
}

.App-Food {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  color: black;
}

.App-Glucose {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  color: black;
}

.row {
  background-color: lavender ;
  display: flex;
}

.col-sm-1 {
  font-size: calc(50px + 4vmin);
}

.App-link {
  color: #61dafb;
}

.Title {
  color: black;
  text-align: center;
  font-weight: 100;
  font-size: 70px;
  padding: 20px;
  
}

.Description {
  border: 1px solid #000;
  text-align: center;
  padding: 30px;
  background-color: white;
}

.Links {
  text-align: right;

}

.Gallery {
  display: flex;
}

.Heading {
  flex-wrap: nowarp;
}

.Links {
  display: flex;
}


.Glucoselog {
  margin-left: 350px;
}

.btn {
  cursor: pointer;
  background-color: #9c88ff;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.containerleft {
  float: left;
  margin: 30px auto;
  width: 350px;
}

.containerright {
    float: right;
    margin: 30px auto;
    width: 350px;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

.level {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.level.target {
    color: #2ecc71;
}

.level.change {
    color: #c0392b;
}

.Glucose-page {
  background-color: honeydew;
}

.Foodlog-page {
  background-color: honeydew;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
