.App {
  text-align: center;
  position: relative;
  top: -120px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Home {
  position: absolute;
  z-index: 2;
  left: 10px;
  top: 20px;
  color: rgb(84, 112, 239);
  font-size: 30px;
  text-decoration: none;
  background-color: #fc7f59;
  text-align: center;
  width: 190px;
  height: 100px;
  padding: 30px;

}

.Foodlog {
  position: absolute;
  z-index: 2;
  top: 20px;
  left: 650px;
  padding: 30px;
  width: 350px;
  color: rgb(84, 112, 239);
  height: 100px;
  font-size: 30px;
  text-decoration: none;
  background-color: #c9bdff;
  text-align: center;
}

.Glucoselog {
  position: absolute;
  text-align: center;
  z-index: 2;
  left: 700px;
  top: 20px;
  padding: 30px;
  height: 100px;
  width: 350px;
  color: rgb(84, 112, 239);
  font-size: 30px;
  text-decoration: none;
  background-color: #c9bdff;
}


/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: honeydew;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(30px);
  color: black;
  margin-top: 130px;
}

.App-Food {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  color: black;
}

.App-Glucose {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  color: black;
}

.row {
  background-color: lavender ;
  display: flex;
}

.col-sm-1 {
  font-size: calc(50px + 4vmin);
}

.App-link {
  color: #61dafb;
}

.Title {
  color: black;
  text-align: center;
  font-weight: 100;
  font-size: 70px;
  padding: 20px;
  
}

.Description {
  border: 1px solid #000;
  text-align: center;
  padding: 30px;
  background-color: white;
}

.Links {
  text-align: right;

}

.Gallery {
  display: flex;
}

.Heading {
  flex-wrap: nowarp;
}

.Links {
  display: flex;
}


.Glucoselog {
  margin-left: 350px;
}

.btn {
  cursor: pointer;
  background-color: #9c88ff;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.containerleft {
  float: left;
  margin: 30px auto;
  width: 350px;
}

.containerright {
    float: right;
    margin: 30px auto;
    width: 350px;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

.level {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.level.target {
    color: #2ecc71;
}

.level.change {
    color: #c0392b;
}

.Glucose-page {
  background-color: honeydew;
  margin-top: 150px;
}

.Foodlog-page {
  background-color: honeydew;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  padding-top: 180px;
}

table {
  border-collapse: collapse;
  width: 100%;
}
/* .NavBar{
  background-color: #2ecc71;
} */

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 32px;
}

th {
  background-color: rgb(117, 201, 250);
}

td {
  background-color: rgb(205, 235, 253);
}

form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 28px;
}